/*↓↓↓↓ナブバー関連です↓↓↓↓↓↓*/


.aaaaa{
     text-align: right;
     margin-left: 800px;
     display:inline-block;
     float: right;
}

.nav-serch{
    text-align: left;
}

.bb{
    display:inline-block;
}

.navbar-right{
    margin-top: 10px;
}


/*↓↓↓↓タイムラインです！！↓↓↓↓*/



.col-xs-8 {
    width:unset;
    margin-top: 30px;
}

.post-layout{
    display: table-cell;
    vertical-align: top;
    border-style: solid;
    border-color: black;
    border-width: thin;
    height:100px;
    border-radius: 2px;
}


/*マイページ*/

.row{
    text-align:center;
}


/*Welcome*/


#main {
    width: 730px;
    float: left;
}

#sidebar {
    width: 220px;
    float: right;
    font-size: 20px;
    background-color: #FFFFFF;
}

.userlist{
    margin: 15px;
    border-bottom: 2px solid #e6ecf0;
    padding-bottom: 8px;
}


